<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<root xmlns:xsi="http://www.w3.org/200902010/XMLSchema-instance">
	<items>
		<LayoutElement>
			
			
			
			
			<Id>100</Id><Name>PcConfigArea</Name><Container>MainSectionMainDivisionMidRegion</Container><Type>120</Type>
			<ControlTypeName>Panel</ControlTypeName><DataSource/><DefaultValue/><StyleClass/><StyleText>Padding:2</StyleText>
			
			<DisplayName/><Remark/>
			
			<ResizeRegionParams/><Action/><ActionParams/><PopupActionOutput>false</PopupActionOutput>
			
			<IsRendered>false</IsRendered><IsChecked>false</IsChecked><ValidFlag>true</ValidFlag><VisibleFlag>true</VisibleFlag><EnabledFlag>true</EnabledFlag>
			
			
			
			<DockType>5</DockType><DockOrder/><OffsetOrPositionX>-1</OffsetOrPositionX><OffsetOrPositionY>-1</OffsetOrPositionY><Width>-1</Width><Height>-1</Height><ImageUrl/><ImageWidth>-1</ImageWidth><ImageHeight>-1</ImageHeight>
		</LayoutElement><LayoutElement>
			
			
			
			
			<Id>110</Id><Name>PcConfigLabelZone</Name><Container>PcConfigArea</Container><Type>260</Type>
			<ControlTypeName>Panel</ControlTypeName><DataSource>Config\Global\Function\Zones\Ui\TitleLabel</DataSource><DefaultValue>PcConfig^Level1^</DefaultValue><StyleClass/><StyleText/>
			
			<DisplayName/><Remark/>
			
			<Action/><ActionParams/><PopupActionOutput>false</PopupActionOutput>
			
			<IsRendered>false</IsRendered><IsChecked>false</IsChecked><ValidFlag>true</ValidFlag><VisibleFlag>true</VisibleFlag><EnabledFlag>true</EnabledFlag>
			
			
			
			<DockType>1</DockType><DockOrder>110</DockOrder><OffsetOrPositionX>-1</OffsetOrPositionX><OffsetOrPositionY>-1</OffsetOrPositionY><Width>-1</Width><Height>25</Height><ImageUrl/><ImageWidth>-1</ImageWidth><ImageHeight>-1</ImageHeight>
		</LayoutElement><LayoutElement>
			
			
			
			
			<Id>210</Id><Name>HardwareLabelZone</Name><Container>PcConfigArea</Container><Type>260</Type>
			<ControlTypeName>Panel</ControlTypeName><DataSource>Config\Global\Function\Zones\Ui\TitleLabel</DataSource><DefaultValue>Hardware^Level2^</DefaultValue><StyleClass/><StyleText/>
			
			<DisplayName/><Remark/>
			
			<Action/><ActionParams/><PopupActionOutput>false</PopupActionOutput>
			
			<IsRendered>false</IsRendered><IsChecked>false</IsChecked><ValidFlag>true</ValidFlag><VisibleFlag>true</VisibleFlag><EnabledFlag>true</EnabledFlag>
			
			
			
			<DockType>1</DockType><DockOrder>210</DockOrder><OffsetOrPositionX>-1</OffsetOrPositionX><OffsetOrPositionY>-1</OffsetOrPositionY><Width>-1</Width><Height>25</Height><ImageUrl/><ImageWidth>-1</ImageWidth><ImageHeight>-1</ImageHeight>
		</LayoutElement><LayoutElement>
			
			
			
			
			<Id>220</Id><Name>HardwareZone</Name><Container>PcConfigArea</Container><Type>260</Type>
			<ControlTypeName>Panel</ControlTypeName><DataSource>Hardware</DataSource><DefaultValue/><StyleClass/><StyleText>Align:RowLining</StyleText>
			
			<DisplayName/><Remark/>
			
			<Action/><ActionParams/><PopupActionOutput>false</PopupActionOutput>
			
			<IsRendered>false</IsRendered><IsChecked>false</IsChecked><ValidFlag>true</ValidFlag><VisibleFlag>true</VisibleFlag><EnabledFlag>true</EnabledFlag>
			
			
			
			<DockType>1</DockType><DockOrder>220</DockOrder><OffsetOrPositionX>-1</OffsetOrPositionX><OffsetOrPositionY>-1</OffsetOrPositionY><Width>-1</Width><Height>140</Height><ImageUrl/><ImageWidth>-1</ImageWidth><ImageHeight>-1</ImageHeight>
		</LayoutElement><LayoutElement>
			
			
			
			
			<Id>310</Id><Name>SoftwareLabelZone</Name><Container>PcConfigArea</Container><Type>260</Type>
			<ControlTypeName>Panel</ControlTypeName><DataSource>Config\Global\Function\Zones\Ui\TitleLabel</DataSource><DefaultValue>Software^Level2^</DefaultValue><StyleClass/><StyleText/>
			
			<DisplayName/><Remark/>
			
			<Action/><ActionParams/><PopupActionOutput>false</PopupActionOutput>
			
			<IsRendered>false</IsRendered><IsChecked>false</IsChecked><ValidFlag>true</ValidFlag><VisibleFlag>true</VisibleFlag><EnabledFlag>true</EnabledFlag>
			
			
			
			<DockType>1</DockType><DockOrder>310</DockOrder><OffsetOrPositionX>-1</OffsetOrPositionX><OffsetOrPositionY>-1</OffsetOrPositionY><Width>-1</Width><Height>25</Height><ImageUrl/><ImageWidth>-1</ImageWidth><ImageHeight>-1</ImageHeight>
		</LayoutElement><LayoutElement>
			
			
			
			
			<Id>320</Id><Name>SoftwareZone</Name><Container>PcConfigArea</Container><Type>260</Type>
			<ControlTypeName>Panel</ControlTypeName><DataSource>Software</DataSource><DefaultValue/><StyleClass/><StyleText>Align:RowLining</StyleText>
			
			<DisplayName/><Remark/>
			
			<Action/><ActionParams/><PopupActionOutput>false</PopupActionOutput>
			
			<IsRendered>false</IsRendered><IsChecked>false</IsChecked><ValidFlag>true</ValidFlag><VisibleFlag>true</VisibleFlag><EnabledFlag>true</EnabledFlag>
			
			
			
			<DockType>1</DockType><DockOrder>320</DockOrder><OffsetOrPositionX>-1</OffsetOrPositionX><OffsetOrPositionY>-1</OffsetOrPositionY><Width>-1</Width><Height>230</Height><ImageUrl/><ImageWidth>-1</ImageWidth><ImageHeight>-1</ImageHeight>
		</LayoutElement><LayoutElement>
			
			
			
			
			<Id>999</Id><Name>SpliterLine-299</Name><Container>PcConfigArea</Container><Type>260</Type>
			<ControlTypeName>Panel</ControlTypeName><DataSource>Config\Global\Function\Zones\Ui\SplitRect</DataSource><DefaultValue>Level2^</DefaultValue><StyleClass/><StyleText/>
			
			<DisplayName/><Remark/>
			
			<Action/><ActionParams/><PopupActionOutput>false</PopupActionOutput>
			
			<IsRendered>false</IsRendered><IsChecked>false</IsChecked><ValidFlag>true</ValidFlag><VisibleFlag>true</VisibleFlag><EnabledFlag>true</EnabledFlag>
			
			
			
			<DockType>1</DockType><DockOrder>999</DockOrder><OffsetOrPositionX>-1</OffsetOrPositionX><OffsetOrPositionY>-1</OffsetOrPositionY><Width>-1</Width><Height>1</Height><ImageUrl/><ImageWidth>-1</ImageWidth><ImageHeight>-1</ImageHeight>
		</LayoutElement>

	</items>
</root>
